@media (min-width: 1024px) {
    .allCards {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }

header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#myButton{
    display: none;
}
ul.menuLinks li a{
    padding: .4rem 1rem;
}
ul.menuLinks, ul.menuLinks.open{
    display: flex;
    justify-content: flex-end;
}
ul.menuLinks a:hover{
    background-color: $secondaryColor;
}