@media (min-width: 768px) and (max-width: 1023px) {
    .allCards {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
  @media (min-width: 768px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
    }
}
  
/* NAVIGATION STUFF GOES HERE  */
